html, body {
  background: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}
.display-linebreak {
  white-space: pre-line;
}
.content {
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: #dd4231;
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}